.Experiment {
    border: 2px solid #ddd;
    margin: 20px 0;
    position: relative;
}

.ExperimentAnnotation {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
}

.ExperimentContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.CodeHeadings {
    margin: 0;
}