.Button {
  font-size: small;
  align-self: center;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
}

.CodeClosed {
  height: 150px;
  overflow: hidden;

  mask-image: linear-gradient(
    to bottom,
    #ffffff,
    rgba(255, 255, 255, 0)
  );
}

.CodeOpen {
  height: fit-content;
  overflow: auto;
}
